<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This Venue</title>
  </head>
  <body>
    <h1>@Model["venue"].GetName()</h1>

    <h3>Bands</h3>
        @foreach (var band in Model["bands"])
        {
          <h4>@band.GetName()</h4>
        }
        <h2>Add a band</h2>
        <form action='/venue/@Model["venue"].GetId()' method="post">
          <select name="band">
            @foreach (var band in Model["allBands"])
            {
            <option value="@band.GetId()">@band.GetName()</option>
            }
          </select>
          <button type="submit">submit</button>
        </form>
        <br>


    <a href="/">Return to the Homepage</a>
  </body>
</html>
