<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This Venue</title>
  </head>
  <body>
    <h1>@Model["venue"].GetName()</h1>
    <a href="/">Return to the Homepage</a>
  </body>
</html>
